@charset "utf-8";


#F1_Contenedor {
	top: 66px;
	bottom: 0px;
	left: -3px;
	right: 0px;
	height: auto;
	width: 100%;
	position: absolute;
	z-index: 1;
	float: left;
}


#F2Cabezera {
	position: fixed;
	height: 85px;
	width: 100%;
	background-color: #975051;
	background-image: url(IMAGENES/FONDOS/FONDOCABEZERA.png);
	z-index: 9999999999;
	top: 0px;
	right: 0px;
}
#F3Cuerpo {
	margin-top: 100px;
	height: auto;
	width: 100%;
	margin-bottom: 20px;
	
}
#F4Pie {
	position: relative;
	width: 960px;
	width: 100%;
	float: left;
	position: fixed;
	bottom: 0;
	z-index: 999999;
	height: 40px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #726A8A;
}
#F4_TextPie {
	margin-right: 20%;
	margin-left: 20%;
	height: 40px;
	color: #F9F004;
	font-size: small;
	font-style: inherit;
}
#F1_LOGO {
	position: fixed;
	
	top: 0px;
	width: 93px;
	height: 110px;
	z-index: 9999;
	margin-left: 5%;
	float: left;

}
#F2_MenuH {
	float: right;
	height: 40px;
	width: 60%;
	position: fixed;
	margin-top: 40px;
	margin-right: 5%;
	margin-left: 40%;
	top: 0px;
	z-index: 555;
	padding: 0px;
}
